# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
thop~=0.0.31-2005241907

# PYSOT
yacs~=0.1.8
colorama~=0.4.4
cython~=0.29.28
tensorboardX~=2.5

pycocotools~=2.0.4
iopath~=0.1.9
omegaconf~=2.2.0.dev1
fvcore~=0.1.5.post20220305
tabulate~=0.8.9
psutil~=5.9.0
setuptools~=58.0.4
termcolor~=1.1.0
cloudpickle~=2.0.0
rospkg~=1.4.0
python-dateutil~=2.8.2
catkin_pkg~=0.4.24
empy~=3.3.4
gnupg~=2.3.1
defusedxml~=0.7.1
pydot~=1.4.2
docutils~=0.18.1
pycairo
dbus-python